<input type="file"
       (change)="fileName($event.target.files); $event.target.value = ''">

<app-template [elements]="elements">
  <ng-template let-element>
    <span *ngIf="element === 'Vitalii'" [style.color]="'red'">{{element}}  </span>
    <span *ngIf="element !== 'Vitalii'" [style.color]="'green'">{{element}}  </span>
  </ng-template>

</app-template>

<router-outlet></router-outlet>
